*{
    box-sizing:border-box;
}

html, body{
    padding:0;
    margin:0;
    background:#f0f0f0;
}

header{
    padding:1.5rem 3rem;
    position:absolute;
    left: 0;
    right: 0;
    top: 0;

    nav{
        a{
            float: right;
            text-decoration:none;
            color:#333;
            padding-left:3rem;
            text-transform: uppercase;
            letter-spacing: .1em;
            
            &#logo{
                float: left;
                width:15vw;
                min-width:150px;
                max-width:250px;
                padding-left:0;
            }
        }
    }
}

#logo-animation{
    width:66%;
    margin:0 auto;
    display: block;
    max-width:500px;
}

$angle-height:3vw;

$arrow-size : $angle-height * 2;

#arrow{
    height: $arrow-size;
    width: $arrow-size;
    position: absolute;
    top:calc(90vh - (#{$arrow-size}/2));
    left:calc(50vw - (#{$arrow-size}/2));
    z-index:10;
    opacity: 0;
    transition:opacity 300ms;

    #arrow-circle{
        fill:#F1F0F0
    }
}

section{
    padding: 3rem;
    display: flex;
    align-items:center;
    width:100%;
    z-index:0;

    &.hero{
        min-height:calc(95vh - #{$angle-height});
    }
    
    &:nth-of-type(odd){
        padding:5rem 3rem;
        flex-direction:row-reverse;
    }

    &:nth-of-type(even){
        background:#ddd;
        position:relative;

        &:before{
            content:'';
            height: 0;
            width: 0;
            position: absolute;
            bottom:calc(100% - #{$angle-height});
            left: 0;
            right:0;

            border-left: 0px solid transparent;
            border-top: $angle-height solid transparent;
            border-bottom: $angle-height solid transparent;
            border-right: 100vw solid #ddd;
        }

        &:not(:last-of-type):after{
            content:'';
            height: 0;
            width: 0;
            position: absolute;
            top:calc(100% - #{$angle-height});
            left: 0;
            right:0;

            border-left: 0px solid transparent;
            border-top: $angle-height solid transparent;
            border-bottom: $angle-height solid transparent;
            border-right: 100vw solid #ddd;
        }
    }
    
    .sub-section{
        flex-grow: 1;
        text-align:left;
    }
}

svg{
    width:100%;
    height:100%;
    margin:auto auto;

    *{
        fill:none;
    }

    .filled, #Cover path{
        fill:#f0f0f0;
    }
}

#websites path, #websites polygon{
    fill:#ddd;
}